.form {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.heading {
  color: var(--text-heading);
}

.charsLimit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: var(--text-muted);
}

.warning {
  color: var(--danger-color);
}

.wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    max-width: fit-content;
  }
}