.label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--text-heading);
}

.input,
.textarea {
  margin-top: 0.4rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid #292929;
  border-radius: 0.4rem;
  background-color: var(--card-bg);
  color: var(--text-heading);
  outline: none;
  transition: border-color 0.2s ease;
  resize: none;
}

.input:focus,
.textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 5px var(--primary);
}

.error:focus {
  border-color: var(--danger-color);
  box-shadow: 0 0 5px var(--danger-color);
}
