.placeHolder {
  text-align: center;
  position: relative;
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
