.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .foot {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
  }
}

/* Logo Container  */
.logoContainer {
  display: flex;
  padding: 0.5rem;

  .logoParent {
    border-radius: 1rem;
    background-color: var(--primary-20);
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Logo */
    .logo {
      color: var(--primary);
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  /* Info For Logo Container */
  .info {
    margin-left: 10px;
    .head {
      font-weight: 500;
    }
    .body {
      color: var(--text-muted);
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

/* SideNav */
.navList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
