:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Dynamic Variables */
  color: black;
  --primary: #477eeb;
  --primary-20: #477eeb33;
  --background-color: #f6f6f8;
  --primary-accent: #aec6cf;
  --text-heading: #343a40;
  --text-muted: #6c757d;
  --navlink-muted: #475569;
  --navlink-pg: #f1f5f9;

  --nav-pg: white;
  --border-color: #e2e8f080;
  --card-pg: #ffffff;
  --danger-color: #dc2626;

  /* Static Variables */
  --main-transition: all 0.3s ease-in-out;
  --secondary-transition: all 160ms ease;
}

[theme-mode="dark"] {
  color: #eaeaea;
  --background-color: #111621;
  --primary-accent: #77a8b7;
  --text-heading: #eaeaea;
  --text-muted: #b0b0b0;
  --nav-pg: var(--background-color);
  --navlink-muted: #94a3b8;
  --navlink-pg: #1e293b80;

  --border-color: #1e293b80;
  --card-pg: #1e1e1e;
  --danger-color: #ff6b6b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: border-color 0.25s;
}
